.FormCrearBaseDatosClientes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aquamarine;
    border: 2px solid black;
    width: 300px;
    padding: 20px;
}



body{
   display: flex;
flex-direction: column;
align-items: center;
justify-content: center; 
height: 100vh;  
}

#inputCrearPuesto{
    height: 30px;
    width: 200px;
}

.EnviarBaseDatosCrear{
    height: 30px;
    width: 90px; 
}