#formularioVisitante{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 500px;
gap: 20px;
border: 2px solid black;
height: 300px;
background-color: rgb(205, 211, 205);
padding: 25px;
height: auto;
}

input{
        height: 40px;
        width: 330px;
}

option{
        height: 80px;
}
select{
        height: 40px;
        width: 150px;
}

a{
        text-decoration: none;
        color: black;
        background-color: yellow;
        padding: 4px;
}

button{
        height: 40px;
        width: 80px;
}