.DivContentInicioSesion{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 300px;
gap: 20px;
border: 2px solid black;
padding: 10px 10px 10px 10px;
height: 300px;
background-color:blue;
}

#BtnInicioSesion{
    height: 40px;
    width: 120px;
    background-color: aqua;
}

#BtnInicioSesion:hover{
    background-color:yellow;
}



body{
   display: flex;
flex-direction: column;
align-items: center;
justify-content: center; 
height: 100vh;  
}