* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #b2f1e3, #a7e9c1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formInicioSesion {
  background: linear-gradient(to bottom right, #ffffff, #d1f0e1);
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  width: 450px;
  gap: 6px;
  position: relative;
  animation: fadeIn 0.8s ease;
}

.titulo-form {
  text-align: center;
  margin-bottom: 10px;
  color: #00796b;
}

label {
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="password"] {
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #26a69a;
  outline: none;
}

.btnEnviar {
 
  padding: 12px;
  background-color: #26a69a;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 5px;
 
}

.btn-volver {
  text-decoration: none;
  background-color: #ffd54f;
  color: black;
  padding: 8px 14px;
  border-radius: 20px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btnEnviar:hover {
  background-color: #00796b;
  transform: scale(1.03);
}

.flecha-atras:hover {
  color: #004d40;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
